@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

body{
  @apply bg-blue-50 text-black h-[200vh]
}
.menu-btn{
  @apply w-7 h-7 grid place-items-center bg-blue-300 rounded-xl ring-white 
  ring-inset ring-1 ring-zinc-50/[0.02] backdrop-blur-2xl hover:bg-blue-500 
  active:scale-95 transition-all
}

/* Navbar */

.navbar{
  @apply absolute top-full mt-2 right-0 min-w-40 p-2 bg-blue-300 rounded-2xl
  ring-inset ring-1 ring-offset-zinc-900 scale-90 isolate blur-sm opacity-0 invisible transition-[opacity,transform,filter]
   md:flex md:static md:mt-0 md:opacity-100 md:blur-0 md:visible md:scale-100 backdrop-blur-2xl 
}

.navbar.active {
  @apply opacity-100 scale-100 blur-0 duration-500 visible
}

.nav-link{
  @apply grid items-center h-9 px-4 text-sm text-blue-950 hover:text-zinc-50
  transition-colors
}

.nav-link.active {
  @apply text-zinc-50 duration-500
}

.navbar .active-box{
  @apply absolute bg-blue-800 rounded-lg
  -z-10 transition-[top,left] duration-500
}

.btn{
  @apply max-w-max h-9 flex items-center gap-2 px-4 rounded-xl font-medium
  text-sm ring-4 ring-zinc-50 ring-inset transition-[background-color]
  hover:shadow-blue-200
}

.btn-secondary{
  @apply bg-blue-300 text-zinc-50 active:bg-zinc-50 active:text-blue-950
}


/* HERO */

.container{
  @apply px-4 mx-auto lg:px-8 xl:max-w-6xl
}

.img-box{
 @apply bg-slate-800 overflow-hidden
}

.img-cover{
    @apply w-full h-60
}

.headline-1{
  @apply text-5xl leading-tight font-bold lg:text-[55px] text-blue-900 lg:leading-[1.15]
}

/* .headline-1{
  @apply max-w-max;
  background: -webkit-linear-gradient(0deg, blue, rgb(0, 0, 105));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.btn-primary{
  @apply h-11 bg-sky-500 text-zinc-50 hover:bg-sky-300 hover:text-blue-900
  active:bg-zinc-50
}
.btn-outline{
  @apply bg-zinc-50 hover:bg-blue-100 ring-blue-900 ring-1 active:bg-slate-400
}

/* ABOUT PAGE */

.section{
  @apply pt-20 lg:pt-32 
}


/* SKILL PAGE */
.headline-2{
  @apply text-4xl lg:text-4xl lg:leading-tight font-semibold 
}


/* WORK */
.title-1{
  @apply text-[22px] font-normal
}

/*   
TEXT FIELD */
.label{
  @apply block text-sm font-normal mb-2 text-gray-900 font-bold
}

.text-field{
  @apply block border shadow-gray-600 shadow-sm
  transition-shadow hover:bg-gray-100 rounded-xl w-full  px-8 py-3 text-sm bg-zinc-50
}
.text-field::placeholder{
  @apply text-gray-400
}